@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
  }

  body {
    @apply antialiased text-slate-900 bg-slate-50;
    background-image: 
      radial-gradient(at 40% 20%, hsla(210,100%,94%,1) 0px, transparent 50%),
      radial-gradient(at 80% 0%, hsla(189,100%,96%,1) 0px, transparent 50%),
      radial-gradient(at 0% 50%, hsla(220,100%,96%,1) 0px, transparent 50%);
    background-attachment: fixed;
  }
}

@layer utilities {
  .glass-card {
    @apply bg-white/70 backdrop-blur-md border border-white/40 shadow-xl;
  }
  
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-health-blue to-health-green;
  }
}
